.score {
  &__value-score {
    display: flex;
    gap: 4px;
  }

  &__value-box {
    width: 10px;
    height: 10px;
    background: #00b3c6;
    border-radius: 2px;
    display: inline-block;
  }

  &__value-box--inactive {
    @extend .score__value-box;
    background: #c9c9c9;
  }
}
