@use "../../../../styles/colors" as *;

.score {
  &__value-score {
    display: flex;
    gap: 4px;
  }

  &__value-box {
    width: 10px;
    height: 10px;
    background: $color-primary-light;
    border-radius: 2px;
    display: inline-block;
  }

  &__value-box--inactive {
    @extend .score__value-box;
    background: $color-archived-light;
  }
}
