.card {
  display: flex;
  align-items: stretch;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  max-width: 1400px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
    transform: translateY(-2px);
  }

  &__icon-section {
    display: none;
  }

  &__icon-section--archived {
    background: #939393 !important;
  }

  &__content-section {
    flex: 1 1 auto;
    padding: 1.5rem;
    display: flex;
  }

  &__header-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2px;
  }

  &__title {
    font-weight: 700;
    color: #222;
    font-size: 1.4rem;
    @apply line-clamp-1;
  }

  &__cloud-icons {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
    color: #888;
    margin-left: 16px;
    margin-top: 4px;
  }

  &__description {
    margin: 0.6rem 0;
    font-size: 1.2rem;
    @apply line-clamp-2;
  }

  &__tags-row {
    display: flex;
    overflow: hidden;
    gap: 6px;
  }

  &__tag {
    background: #f2f6fa;
    text-wrap: nowrap;
    padding: 4px 12px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 0.85rem;
  }

  &__impact-section {
    background: #f2f6fa;
    width: 60%;
    display: none;
    padding: 1rem;
    border-radius: 0.2rem;
    max-width: 300px;
  }

  &__violations {
    white-space: nowrap;
    font-size: 1rem;
    margin-bottom: 16px;
    color: #666;
    text-align: center;
    width: 100%;
  }

  @media (min-width: 769px) {
    border-radius: 16px;
    &__icon-section {
      display: flex;
      background: #0099b0;
      align-items: center;
      justify-content: center;
      width: 35%;
      max-width: 150px;
    }

    &__icon {
      font-size: 40px;
      color: #fff;
      display: block;
    }

    &__impact-section {
      display: block;
      height: 100%;
    }

    &__content-section {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      padding: 0.8rem;
    }

    &__title {
      font-size: 1.5rem;
    }

    &__description {
      line-height: 1.3;
      @apply line-clamp-3;
    }

    &__tag {
      font-size: 0.75rem;
    }

    &__impact-title {
      font-size: 1.2rem;
      font-weight: 700;
      color: #222;
      text-align: center;
      width: 100%;
      white-space: nowrap;
    }
  }

  @media (min-width: 1284px) {
    &__title {
      font-size: 1.6rem;
    }

    &__description {
      font-size: 1.5rem;
    }
    
    &__tag {
      font-size: 1rem;
    }

    &__impact-title {
      font-size: 1.5rem;
    }
    
    &__violations {
      font-size: 1.3rem;
    }
  }
}
