.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    font-size: 2rem;
    font-weight: 600;
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.3rem;
  }
  @media (min-width: 769px) {
    margin-top: 2.5rem;
  }
}
