.sidebar-footer {
  &__container {
    display: flex;
    @apply gap-4;
  }
  &__icon {
    background: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 40px;
    height: 100%;
  }
}
