@use "../../../styles/colors" as *;

.sidebar-footer {
  &__container {
    display: flex;
    gap: 1rem;
    margin-top: 5rem;
  }
  &__icon {
    background: $color-cyan-300;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 40px;
    height: 30px;
    font-size: 1.5rem;
  }
  @media (min-width: 1284px) {
    &__icon {
      width: 35px;
      height: 35px;
    }
  }
}
